In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os 
if 'notebooks' in os.getcwd():
    os.chdir('..')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Feature extraction (Momentum)

In [8]:
X = pd.read_csv("data/X_train_YG7NZSq.csv", index_col=0)
X.columns.name = 'date'
X.head()

date,0,1,2,3,4,5,6,7,8,9,...,744,745,746,747,748,749,750,751,752,753
stocksID,,,,,,,,,,,,,,,,,,,,,
0,-0.018647,-0.013002,-0.010776,-0.016676,-0.005110,0.009092,-0.011745,0.007120,-0.008451,0.009119,...,-0.012525,-0.011716,0.003532,0.009965,0.018142,-0.001236,-0.002732,0.013074,-0.005843,-0.003823
1,-0.008254,-0.022280,0.012173,-0.006820,-0.004055,0.012912,-0.001293,0.009994,-0.002747,0.001664,...,0.014432,-0.002255,-0.011493,0.002291,-0.001346,-0.004026,-0.004672,-0.002889,-0.004984,0.005005
2,-0.008404,-0.013629,-0.006044,-0.003425,-0.009522,-0.001353,-0.000637,0.007640,0.001600,0.007416,...,-0.006245,-0.001329,0.005230,0.003510,0.006022,-0.000343,0.001757,0.004972,0.004916,-0.007338
3,-0.022734,-0.006981,-0.008568,-0.010899,-0.017981,0.002485,-0.011980,0.012446,-0.010636,0.003807,...,-0.005179,-0.003442,0.002733,0.013369,0.019738,0.001201,-0.003669,0.008690,0.000272,-0.008150
4,-0.024546,-0.008315,-0.007991,-0.003515,0.007872,0.007082,-0.004614,-0.008182,-0.005255,0.014404,...,-0.017507,-0.001233,-0.000552,0.004664,0.005202,0.007695,0.003775,0.005097,0.001135,-0.009262

In [9]:
X = X.transpose()
X.head()

stocksID,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
date,,,,,,,,,,,,,,,,,,,,,
0,-0.018647,-0.008254,-0.008404,-0.022734,-0.024546,-0.019243,0.000083,-0.015313,-0.001305,-0.020038,...,0.054454,0.031896,-0.008109,0.033008,-0.003656,0.008359,0.012350,-0.006184,0.017914,-0.022667
1,-0.013002,-0.022280,-0.013629,-0.006981,-0.008315,-0.004789,-0.006233,-0.014736,-0.004197,-0.012818,...,-0.009958,0.020950,-0.001532,0.026261,-0.005213,-0.002016,0.016356,-0.011337,0.011649,-0.012398
2,-0.010776,0.012173,-0.006044,-0.008568,-0.007991,-0.004691,-0.009110,-0.000887,-0.019816,-0.013035,...,0.003228,0.005186,0.000809,0.010101,0.005318,0.028789,0.006280,-0.010917,-0.006168,0.000730
3,-0.016676,-0.006820,-0.003425,-0.010899,-0.003515,0.002805,0.054403,-0.007216,-0.005595,-0.006182,...,-0.002271,0.038125,-0.000351,0.012020,0.006399,-0.002400,-0.001466,0.005750,0.028425,0.007258
4,-0.005110,-0.004055,-0.009522,-0.017981,0.007872,-0.006069,-0.012260,-0.002479,0.008634,-0.022030,...,-0.030167,0.005030,-0.014674,-0.006336,-0.002130,-0.056018,0.003624,-0.013155,-0.010859,-0.005218

In [18]:
new_columns_name = X.columns\
    .get_level_values("stocksID")\
    .map(lambda x: f'company_{x}')

In [33]:
X.rename(
    lambda stock_id: f'company_{stock_id}',
    axis = 1,
    inplace = True
)

In [34]:
X

stocksID,company_0,company_1,company_2,company_3,company_4,company_5,company_6,company_7,company_8,company_9,...,company_40,company_41,company_42,company_43,company_44,company_45,company_46,company_47,company_48,company_49
date,,,,,,,,,,,,,,,,,,,,,
0,-0.018647,-0.008254,-0.008404,-0.022734,-0.024546,-0.019243,0.000083,-0.015313,-0.001305,-0.020038,...,0.054454,0.031896,-0.008109,0.033008,-0.003656,0.008359,0.012350,-0.006184,0.017914,-0.022667
1,-0.013002,-0.022280,-0.013629,-0.006981,-0.008315,-0.004789,-0.006233,-0.014736,-0.004197,-0.012818,...,-0.009958,0.020950,-0.001532,0.026261,-0.005213,-0.002016,0.016356,-0.011337,0.011649,-0.012398
2,-0.010776,0.012173,-0.006044,-0.008568,-0.007991,-0.004691,-0.009110,-0.000887,-0.019816,-0.013035,...,0.003228,0.005186,0.000809,0.010101,0.005318,0.028789,0.006280,-0.010917,-0.006168,0.000730
3,-0.016676,-0.006820,-0.003425,-0.010899,-0.003515,0.002805,0.054403,-0.007216,-0.005595,-0.006182,...,-0.002271,0.038125,-0.000351,0.012020,0.006399,-0.002400,-0.001466,0.005750,0.028425,0.007258
4,-0.005110,-0.004055,-0.009522,-0.017981,0.007872,-0.006069,-0.012260,-0.002479,0.008634,-0.022030,...,-0.030167,0.005030,-0.014674,-0.006336,-0.002130,-0.056018,0.003624,-0.013155,-0.010859,-0.005218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,-0.001236,-0.004026,-0.000343,0.001201,0.007695,0.007474,-0.006070,0.000125,0.002379,0.000802,...,0.000109,-0.006120,0.000421,-0.003802,-0.001963,-0.023981,-0.004295,-0.008224,0.001535,-0.001814
750,-0.002732,-0.004672,0.001757,-0.003669,0.003775,-0.002425,0.000114,-0.009989,0.001253,0.002215,...,0.004044,0.015217,0.004890,0.034763,-0.000907,0.012294,0.005138,-0.007828,0.001903,-0.007145
751,0.013074,-0.002889,0.004972,0.008690,0.005097,0.003741,0.004040,0.000157,-0.003839,0.006829,...,0.006168,0.003466,-0.001115,-0.005417,-0.000509,-0.001861,0.003698,0.006122,0.001956,-0.002696
752,-0.005843,-0.004984,0.004916,0.000272,0.001135,0.006103,0.005345,-0.007284,0.002579,-0.003941,...,-0.002205,0.001574,-0.011366,-0.001135,0.002889,0.009786,-0.008842,-0.008607,-0.007519,-0.002816
753,-0.003823,0.005005,-0.007338,-0.008150,-0.009262,-0.004848,0.015671,0.008943,0.000397,-0.004023,...,0.002101,-0.002413,0.000484,0.003978,-0.008627,0.011730,0.000879,0.008094,-0.003608,-0.000898

In [35]:
X.to_parquet(
    "data/raw_data.parquet"
)


This dataframe will be used in order to obtain the features

In [47]:
X

stocksID,company_0,company_1,company_2,company_3,company_4,company_5,company_6,company_7,company_8,company_9,...,company_40,company_41,company_42,company_43,company_44,company_45,company_46,company_47,company_48,company_49
date,,,,,,,,,,,,,,,,,,,,,
0,-0.018647,-0.008254,-0.008404,-0.022734,-0.024546,-0.019243,0.000083,-0.015313,-0.001305,-0.020038,...,0.054454,0.031896,-0.008109,0.033008,-0.003656,0.008359,0.012350,-0.006184,0.017914,-0.022667
1,-0.013002,-0.022280,-0.013629,-0.006981,-0.008315,-0.004789,-0.006233,-0.014736,-0.004197,-0.012818,...,-0.009958,0.020950,-0.001532,0.026261,-0.005213,-0.002016,0.016356,-0.011337,0.011649,-0.012398
2,-0.010776,0.012173,-0.006044,-0.008568,-0.007991,-0.004691,-0.009110,-0.000887,-0.019816,-0.013035,...,0.003228,0.005186,0.000809,0.010101,0.005318,0.028789,0.006280,-0.010917,-0.006168,0.000730
3,-0.016676,-0.006820,-0.003425,-0.010899,-0.003515,0.002805,0.054403,-0.007216,-0.005595,-0.006182,...,-0.002271,0.038125,-0.000351,0.012020,0.006399,-0.002400,-0.001466,0.005750,0.028425,0.007258
4,-0.005110,-0.004055,-0.009522,-0.017981,0.007872,-0.006069,-0.012260,-0.002479,0.008634,-0.022030,...,-0.030167,0.005030,-0.014674,-0.006336,-0.002130,-0.056018,0.003624,-0.013155,-0.010859,-0.005218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,-0.001236,-0.004026,-0.000343,0.001201,0.007695,0.007474,-0.006070,0.000125,0.002379,0.000802,...,0.000109,-0.006120,0.000421,-0.003802,-0.001963,-0.023981,-0.004295,-0.008224,0.001535,-0.001814
750,-0.002732,-0.004672,0.001757,-0.003669,0.003775,-0.002425,0.000114,-0.009989,0.001253,0.002215,...,0.004044,0.015217,0.004890,0.034763,-0.000907,0.012294,0.005138,-0.007828,0.001903,-0.007145
751,0.013074,-0.002889,0.004972,0.008690,0.005097,0.003741,0.004040,0.000157,-0.003839,0.006829,...,0.006168,0.003466,-0.001115,-0.005417,-0.000509,-0.001861,0.003698,0.006122,0.001956,-0.002696
752,-0.005843,-0.004984,0.004916,0.000272,0.001135,0.006103,0.005345,-0.007284,0.002579,-0.003941,...,-0.002205,0.001574,-0.011366,-0.001135,0.002889,0.009786,-0.008842,-0.008607,-0.007519,-0.002816
753,-0.003823,0.005005,-0.007338,-0.008150,-0.009262,-0.004848,0.015671,0.008943,0.000397,-0.004023,...,0.002101,-0.002413,0.000484,0.003978,-0.008627,0.011730,0.000879,0.008094,-0.003608,-0.000898

* $N$ stocks
* $R_{t} \in \mathbb{R}^N$: returns vector
* $ S_{t} \in \mathbb{R}^N: $ prediction vector
* $ F_{t, l} \in \mathbb{R} ^N$ : feature $l$ at an instant $t$
* $ \beta_{l} \in \mathbb{R}$: treinable param for feature $l$

$$ S_{t+1} := \sum_{l =1} ^{10} \beta_{l} F_{t,l} $$

$$ F_{t, l} = \sum_{k =1}^{D} A_{kl} R_{t+1 - k}